.env

my-custom.cnf
*.mwb.bak

codeigniter/public/css/*.css
codeigniter/public/css/*.css.map
node_modules/

codeigniter/writable/debugbar/*
!codeigniter/writable/debugbar/.gitkeep

codeigniter/writable/tmp/mpdf/*
!codeigniter/writable/tmp/mpdf/.gitkeep

codeigniter/writable/avatar/*
!codeigniter/writable/avatar/default.png

python/__pycache__
python/__pycache__/*

